---
interface Props {
  id: string;
  minWidth?: string;
  spacing?: string;
}

const { id, minWidth = "min-w-[100px]", spacing = "m-1" } = Astro.props;

/// ???????????????????
/// Why am i doing this
/// ???????????????????
let slots: any[] = [];

Object.keys(Astro.slots).forEach((item) =>
  slots.push(Astro.slots.render(item))
);

let render = await Promise.all(slots);

let elements: string[] = render[0]
  .split("</a>")
  .map((item: string) => `<li class=${spacing}>${item}</a></li>`);

elements.pop();
---

<ul id={id} class={minWidth}>
  {elements.map((el: string) => <Fragment set:html={el} />)}
</ul>
